
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
</style>
body {
    selector{property: value;}
    margin: 0;  
    text-align: center;
    font-family:'Lato', sans-serif:
}


#header{
    background-image: url(url(../../../../New folder (2)/background.png));
    background-size: cover;
    height: 450pxpx;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 10px;
}

h1{
    background: #1D3557;
}

h2{
    background: #457B9D;
    width: 500px;
}    

h1,h2{
    margin: 0;
    color: white;
    padding: 6px;
    border-radius: 10px;
}
@import url(url(../../../../New folder (2)/Roboto_Condensed/static));
